<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address Mapper</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />  
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <!-- Logout Button with Icon -->
     <div class="logoutForm">
      <form action="/logout" method="POST">
        <button type="submit" class="logoutButton">
          <i class="fas fa-sign-out-alt logout-icon"></i> Logout
        </button>
      </form>
     </div>
    </div>

    <div class="container">
      <!-- Blob Section -->
      <button
        id="blobHeader"
        onclick="toggleSection('blobSection')"
        role="button"
      >
        Convert Blob to Addresses:
        <span id="blobSectionIndicator" class="chevron">▼</span>
      </button>
      <section id="blobSection" class="hidden">
        <textarea id="blobInput" rows="10" cols="50"></textarea>
        <br />
        <button id="buttonSubmit" onclick="extractAddresses()">Convert</button>

        <!-- Loading spinner container -->
        <div id="spinnerContainer" class="spinner-container">
          <div class="spinner"></div>
        </div>
      </section>

      <!-- Address Section -->
      <button id="addressHeader" onclick="toggleSection('addressSection')">
        Plot Addresses on Map:
        <span id="addressSectionIndicator" class="chevron">▼</span>
      </button>

      <section id="addressSection" class="hidden">
        <p>Desired Format: <i>2249 Washington Ave, Bronx, NY 10456</i></p>
        <textarea id="addressInput" rows="10" cols="50"></textarea>
        <br />
        <button id="addressSubmit" onclick="geocodeAddresses()">Plot</button>
      </section>
    </div>
    <!-- Map Section -->
    <div id="map"></div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"
      async
      defer
    ></script>
  </body>
</html>
