<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address Mapper</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h3>Paste Blob Below:</h3>
    <textarea id="blobInput" rows="10" cols="50"></textarea>
    <br />
    <button onclick="extractAddresses()">Convert Blob to Addresses</button>

    <!-- Loading spinner container -->
    <div id="spinnerContainer" class="spinner-container">
      <div class="spinner"></div>
    </div>

    <h3>Paste Addresses Below:</h3>
    <p>Desired Format: <i>2249 Washington Ave, Bronx, NY 10456</i></p>
    <textarea id="addressInput" rows="10" cols="50"></textarea>
    <br />
    <button onclick="geocodeAddresses()">Plot Addresses</button>

    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"
      async
      defer
    ></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
